{# Override this template and place javascript based statistics here (like Google Analytics) #}

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

    <script>
      // Picture element HTML5 shiv
      document.createElement( "picture" );
    </script>
{% javascripts  filter='yui_js' output='js/*'
    '@tfkfarteBundle/Resources/public/js/picturefill.js'
	  '@tfkfarteBundle/Resources/public/js/vendor/modernizr-custom-0.4.1.js'
    '@tfkfarteBundle/Resources/public/js/ofi.browser.js'

%}
    <script type="text/javascript" src="{{ asset_url }}" async="async" defer="defer"></script>
{% endjavascripts %}
<!-- Adform Tracking Code BEGIN -->

<script type="text/javascript">

window._adftrack = Array.isArray(window._adftrack) ? window._adftrack : (window._adftrack ? [window._adftrack] : []);

window._adftrack.push({

pm: 935963

});

(function () { var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://track.adform.net/serving/scripts/trackpoint/async/'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); })();

</script>

<noscript>

<p style="margin:0;padding:0;border:0;">

<img src="https://track.adform.net/Serving/TrackPoint/?pm=935963" width="1" height="1" alt="" />

</p>

</noscript>

<!-- Adform Tracking Code END -->

<!-- Facebook Pixel Code -->

<script>

!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?

n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;

n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;

t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,

document,'script','https://connect.facebook.net/en_US/fbevents.js');

fbq('init', '1580763888893668'); // Insert your pixel ID here.

fbq('track', 'Farte_no_Hoved');

</script>

<noscript><img height="1" width="1" style="display:none"

src="https://www.facebook.com/tr?id=1580763888893668&ev=PageView&noscript=1"

/></noscript>

<!-- DO NOT MODIFY -->

<!-- End Facebook Pixel Code -->