<div class="content highlight--dark">

  <div class="constrained-content clearfix">

    <footer id="footer-menu" role="contentinfo" class="page-footer clearfix">

      <div class="row">

        <p>Kundeservice</p>
        <div class="column-3">
          <ul>
            <li><a href="/">Forside</a></li>
            <li><a href="/Rutetabeller">Rutetabeller</a></li>
          </ul>
        </div>

        <div class="column-3">
          <ul>
            <li><a href="/Biletter-og-priser">Biletter og priser</a></li>
            <li><a href="/Om-farte">Om farte</a></li>
          </ul>
        </div>

        <div class="column-3">
          <ul>
            <li><a href="/Tapt-og-funnet">Tapt og funnet</a></li>
          </ul>
        </div>

      </div>

        <hr>

      <div class="row">

        <div class="column-4">
          <a href="/" class="page-header__logo"><img src="/bundles/tfkfarte/images/logo/tfk_logo_wb.svg" alt="Telemark Fylkeskommune"></a>
        </div>

        <div class="column-4">
          <p>Telemark fylkeskommune</br>
          Postboks 2844, 3702 Skien</br>
          Fylkesbakken 10, 3715 Skien</p>

          <p class="fat"><a href="https://www.google.com/maps/preview?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Fylkesbakken+10,+Skien,+Norge&amp;aq=0&amp;oq=fylkesbakken+10&amp;sll=37.0625,-95.677068&amp;sspn=39.184175,87.978516&amp;vpsrc=6&amp;t=v&amp;ie=UTF8&amp;hq=&amp;hnear=Fylkesbakken+10,+3715+Skien,+Telemark,+Norway&amp;ll=59.216674,9.611161&amp;spn=0.012388,0.042958&amp;z=15&amp;iwloc=A">Se kart på Google</a>

        </div>

        <div class="column-4">
          <p>Tel.: 0047 35 91 70 00</br>
          Faks: 0047 35 91 70 01</br>
          <a href="mailto:farte@t-fk.no" alt="Kontakt oss på farte@t-fk.no">farte@t-fk.no</a></p>
        </div>

        <div class="column-4">
          <p><a href="http://www.telemark.no" alt="Telemark fylkeskommune">www.telemark.no</a></p>
        </div>

      </div>
    
    </footer>

  </div>

</div>