{% set siteLang = app.request.locale[:2] %}
<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="unsupported-ie ie" lang="{{ siteLang }}"><![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="{{ siteLang }}"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="{{ siteLang }}"><!--<![endif]-->
<head>
	{# TODO: this probably won't be needed anymore as we will relay on the HTTP cache #}
	{% include 'tfkfarteBundle::page_head_displaystyles.html.twig' %}

	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	{% block page_head %}
		{% include 'tfkfarteBundle::page_head.html.twig' %}
	{% endblock %}
	{% include 'tfkfarteBundle::page_head_style.html.twig' %}
	{% include 'tfkfarteBundle::page_head_script.html.twig' %}
</head>
<body>
  <div class="menu-container">
    <div id="mp-pusher" class="menu-pusher">
			{% if location is defined and not location.isDraft %}
				{% set currentLocation=location %}
			{% endif %}

			<!-- Header area: START -->
			{% block header %}
				{% include 'tfkfarteBundle::page_header.html.twig' %}
			{% endblock %}

			<!-- Header area: END -->
				<!-- Top menu area: END -->
			{% block breadcrumb %}
				{% if currentLocation is defined %}
					{{ render( controller( 'tfkfarteBundle:Item:viewBreadcrumb', { 'locationId': currentLocation.id } ) ) }}
				{% endif %}
			{% endblock %}

			<main id="main" role="main" tabindex="-1">
				<!-- Main area: START -->
				{% block content %}{% endblock %}
				<!-- Main area: END -->
			</main>
			<!-- Footer area: START -->
			{% include 'tfkfarteBundle::page_footer.html.twig' %}
		</div>
	</div>

<!-- Complete page area: END -->
<!-- Footer script area: START -->
{% block footerScript %}
	{% include 'tfkfarteBundle::page_footer_script.html.twig' %}
{% endblock %}

{% block page_js %}
{% endblock %}

<!-- Footer script area: END -->
</body>
</html>