        <div class="content highlight--dark">
          <div class="constrained-content clearfix">
            <footer id="footer-menu" role="contentinfo" class="page-footer clearfix">
              <div class="page-footer__block-left">
                <div class="page-footer__content">
                 <li class="side-menu__item"><a href="/">Forside</a></li>
                    <li class="side-menu__item"><a href="/Rutetabeller">Rutetabeller</a></li>
                    <li class="side-menu__item"><a href="/Skoleskyss">Skoleskyss</a></li>
                    <li class="side-menu__item"><a href="/Biletter-og-priser">Biletter og priser</a></li>
                    <li class="side-menu__item"><a href="/Nettbutikk">Nettbutikk</a></li>
                    <li class="side-menu__item"><a href="/Om farte">Om farte</a></li>
                    <li class="side-menu__item"><a href="/Tapt og funnet">Tapt og funnet</a></li>
                </div>
                <div class="page-footer__content page-footer__content--last">
                    <li class="side-menu__item"><a href="/Presse">Presse</a></li>
                    <li class="side-menu__item"><a href="/English">English</a></li>
                    <li class="side-menu__item"><a href="/Kontakt">Kontakt</a></li>
                </div>
              </div>
              <div class="page-footer__block-right">
                <div class="page-footer__box">
                  <div class="page-footer__content">
                   <h2 class="visuallyhidden">Kontaktinformasjon</h2>
                    <h3>Kontakt farte:</h3>
                    <ul>
                      <li>Telefon: 35 91 70 00</li>
                      <li>Telefaks: 35 91 70 01</li>
                      <li>E-post: <a href="mailto:post@farte.no">post@farte.no</a></li>
                    </ul>
                    <h3>Postadresse:</h3>
                    <p>Postboks 2844, 3702 Skien</p>
                    <h3>Besøksadresse:</h3>
                    <p>Fylkesbakken 10, 3715 Skien</p>
                  </div>
                  <div class="page-footer__content page-footer__content--last">
                    <h3>Kart og veibeskrivelse:</h3>
                    <p><a href="https://www.google.com/maps/preview?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Fylkesbakken+10,+Skien,+Norge&amp;aq=0&amp;oq=fylkesbakken+10&amp;sll=37.0625,-95.677068&amp;sspn=39.184175,87.978516&amp;vpsrc=6&amp;t=v&amp;ie=UTF8&amp;hq=&amp;hnear=Fylkesbakken+10,+3715+Skien,+Telemark,+Norway&amp;ll=59.216674,9.611161&amp;spn=0.012388,0.042958&amp;z=15&amp;iwloc=A">Se kart på Google</a></p>
                  </div>
                </div>
              </div>
            </footer>
            <div class="page-footer-nav">
            <div class="page-footer__block-left">
                <div class="page-footer__content">
                <a href="{{ path( ezpublish.rootLocation ) }}" class="page-header__logo">
                <img src="{{ asset('bundles/tfkfarte/images/logo/tfk_logo_wb.svg') }}" alt="Telemark Fylkeskommune" /></a>
            </div>
             <div class="page-footer__content page-footer__content--last">
             
              </div>
            </div>

            </div>
          </div>
        </div>