<div class="content highlight--dark">

  <div class="constrained-content clearfix">

    <footer id="footer-menu" role="contentinfo" class="page-footer clearfix">

      <div class="row">

        <div class="column-3">
          <p>Kundeservice</p>
          <ul>
            <li>Ruteopplysningen 177</li>
            <li>Sentralbord 00 00 00 00</li>
            <li>post@farte.no</li>
            <li>Kontakt oss</li>
            <li>Farte på Facebook</li>
            <li>Farte på Twitter</li>
          </ul>
        </div>

        <div class="column-3">
          <p>Snarveier</p>
          <ul>
            <li>Rutetabeller</li>
            <li>Skoleskyss</li>
            <li>Billetter og reisekort</li>
            <li>Kundeservice</li>
            <li>Hittegods</li>
          </ul>
        </div>

        <div class="column-3">
          <p>Last ned våre apper</p>
          <ul>
            <li>Reiseplanlegger for android</li>
            <li>Reiseplanlegger for iPhone</li>
            <li>Mobilbillett for android</li>
            <li>Mobilbillett for iPhone</li>
          </ul>
        </div>

      </div>

        <hr>

      <div class="row">

        <div class="column-4">
          <a href="/" class="page-header__logo"><img src="/bundles/tfkfarte/images/logo/tfk_logo_wb.svg" alt="Telemark Fylkeskommune"></a>
        </div>

        <div class="column-4">
          <p>Telemark fylkeskommune</br>
          Postboks 2844, 3702 Skien</br>
          Fylkesbakken 10, 3715 Skien</p>
        </div>

        <div class="column-4">
          <p>Tel.: 0047 35917000</br>
          Faks: 0047 35917001</br>
          post@t-fk.no</p>
        </div>

        <div class="column-4">
          <p>www.telemark.no</p>
        </div>

      </div>
    
    </footer>

  </div>

</div>