<div id="Glide" class="glide constrained">

    <div class="glide__wrapper">
        <ul class="glide__track">
     {% for item in valid_items %}
          {{ render(
                 controller(
                     "ez_content:viewLocation",
                     {
                         "locationId": item.locationId,
                         "viewType": "slide"
                     }
                )
            ) }}

        {% endfor %}
        </ul>
    </div>

    <div class="glide__bullets"></div>

</div>