@import "susy";

/*
 * Grid settings with SUSY
 * http://susydocs.oddbird.net/en/latest/
 */

$susy: (
  flow: ltr,                        // rtl | ltr
  math: fluid,                      // fluid | static
  output: float,
  gutter-position: split,           // float | isolate
  container: auto,                  // <length> | auto
  container-position: center,       // left | center | right | <length> [*2]
  columns: 4,                      // <number> | <list>
  gutters: .25,                     // <ratio>
  column-width: false,              // <length> | false/null
  global-box-sizing: content-box,   // before | after | split | inside | inside-static
  last-flow: to,                    // from | to
  debug: (
    image: hide,                    // show | hide | show-columns | show-baseline
    color: rgba(#66f, .25),         // <color>
    output: background,             // background | overlay
    toggle: top right,              // right | left and top | bottom
  ),
  use-custom: (
    background-image: true,         // <boolean>
    background-options: false,      // <boolean>
    box-sizing: false,              // <boolean>
    clearfix: true,                 // <boolean>
    rem: true,                      // <boolean>
  )
);

$susy-large: (
  columns: 12,
  gutters: .5
);

// Clearfix
@import "_clearfix.scss";

// Ikonfont Metro
@import "icomoon.scss";

// Telefon
@import "_fonts.scss";

// Importere stiler
@import "variables.scss";
@import "base-override.scss";
@import "responsiv-tekst.scss";
@import "header.scss";
@import "datepicker.scss";
@import "autocomplete.scss";
@import "reiseplanlegger.scss";
@import "campaign-banner.scss";
@import "news.scss";
@import "input.scss";
@import "menu.scss";
@import "footer.scss";

// Søkestiler
@import "grid.scss";
@import "_search-field.scss";
@import "_search-result.scss";
@import "_section--buttons-row.scss";
@import "_sidebar--list-searchresult.scss";
@import "_sidebars.scss";


@import "_icons.scss";