.ui-autocomplete-loading {
    background: url('/bundles/tfkfarte/images/ajax-loader.gif')no-repeat 95% center #fff;
}

#ui-datepicker-div {
    background-color: #fff;
    border:1px solid #bdbdbd;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 2px 3px 0 rgba(51, 51, 51, .2);
    color: #333;
    margin-left: -85px;
    max-width: 280px;
    width: 100%;
    display: none;
     font-family: "Telefon", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
#ui-datepicker-div .ui-datepicker-header {
    background-color: #fff;
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #fff;
    display: inline-block;
    width: 100%
}
#ui-datepicker-div .ui-datepicker-header a.ui-datepicker-prev {
    color: #333;
    float: left;
    padding: 2%;
    text-align: center;
    width: 20%
}
#ui-datepicker-div .ui-datepicker-header a.ui-datepicker-next {
    color: #333;
    float: right;
    padding: 2%;
    text-align: center;
    width: 20%
}
#ui-datepicker-div .ui-datepicker-header .ui-datepicker-title {
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    box-shadow: -1px 0 0 0 #333 inset, 1px 0 0 0 #333 inset;
    float: left;
    font-weight: 500;
    padding: 2%;
    text-align: center;
    width: 60%;
    background-color: #ededed;
}
#ui-datepicker-div a:hover {
    background-color: #ffd520;
    border: medium none;
    cursor: pointer
}
#ui-datepicker-div .ui-datepicker-calendar thead {
    border-bottom: 1px solid #333;
    box-shadow: 0 1px 0 0 #333;
    height: 30px
}
#ui-datepicker-div .ui-datepicker-calendar thead tr {
    float: left;
    width: 100%
}
#ui-datepicker-div .ui-datepicker-calendar thead tr th {
    width: 40px
}
#ui-datepicker-div .ui-datepicker-calendar thead tr th:last-child {
    color: red
}
#ui-datepicker-div .ui-datepicker-calendar tbody {
    background-color: #fff
}
#ui-datepicker-div .ui-datepicker-calendar tbody tr {
    float: left;
    width: 100%
}
#ui-datepicker-div .ui-datepicker-calendar tbody tr td {
    border-bottom: 1px solid #999;
    border-right: none;
    box-shadow: none;
    display: table-cell;
    float: none;
    height: 30px;
    vertical-align: middle;
    width: 40px
}
#ui-datepicker-div .ui-datepicker-calendar tbody tr td a {
    color: #333;
    display: block;
    height: 100%;
    padding: 9%;
    text-align: center;
    width: 100%
}
#ui-datepicker-div .ui-datepicker-calendar tbody tr td:last-child {
    border-right: medium none
}