footer {

    margin-bottom: 3em;

    a {
        text-decoration: none;

        &:hover {
            border-bottom:1px solid white;
        }
    }

    .side-menu__item a {
        padding: 0.25em 0em;
    }

    .row {
        overflow: auto;
        padding: 1em;

        > p {
            font-weight: 900;
        }
    }

    ul {
        margin-bottom: .325em;

        li {
            padding: .25em 0 0 1.75em;
        }
     
        li:first-child {
            padding-top:.025em;
        }
    }


    .column-3 ul, 
    .column-4 ul {
        font-family: "Open sans", sans-serif;
        font-size: .875em;
        font-weight: 400;
    }


    .page-footer ul {
      margin-top: 0;
      padding-left: 0;
      list-style: none;
    }


    .page-footer .side-menu {
      margin-top: 1.375em;
      margin-bottom: initial;
      border: none;
    }


    .highlight--dark .side-menu__item a:after {
        background-image: none;
    }


    .highlight--dark .side-menu__item {
      border-bottom-color: transparent;
    }


    .page-footer__box {
      margin-top: 0;
      margin-right: 0;
      margin-left: 0;
      border: none;
      padding: 0;
    }

}




footer {

    .column-4 {

        &:not(:first-child) {
            margin-top:1.375em;
        }


        @media screen and (min-width:600px) {
            @include span(1 of 4);
            &:last-child {
                @include span(1 of 4 last);
            }
        }

        
        @media screen and(max-width:600px) {
            @include span(1 of 1);
            text-align: center;
            &:first-child {
                img {
                    height: 89px;
                    margin:0 auto;
                    display: block;
                }
            }
        }
    }



    .column-3 {

        &:last-child {
            margin-bottom:1em;
        }

        li:before {
            content: "";
            width: 18px;
            height: 18px;
            background-image: url("/bundles/tfkfarte/images/icon/pil-lenker-01.svg");
            position: absolute;
            margin-top: 3px;
            padding-right: 0;
            margin-left: -1.75em;
        }


        @media screen and (min-width:600px) {
            @include span(1 of 3);
            &:last-child {
                @include span(1 of 3 last);
             }
        }
        
        @media screen and(max-width:600px) {
            @include span(3 of 3);
            &:not(:first-child) > p {
                margin-top: 1em;
            }
        }
    }

}

