footer {

    a {
        text-decoration: none;
    }

    .side-menu__item a {
        padding: 0.25em 0em;
    }
}

.page-footer ul {
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}

.page-footer .side-menu {
  margin-top: 1.375em;
  margin-bottom: initial;
  border: none;
}


.highlight--dark .side-menu__item a:after {
    background-image: none;
}


.highlight--dark .side-menu__item {
  border-bottom-color: transparent;
}


.page-footer__box {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  border: none;
  padding: 0;
}

