// Head 

.page-header__logo {
        margin: .5em 0;
        margin-top: .75em;
}

.menu {
        background: $black;
}

.menu__item-link {
        color: $white;
        transition: background .2s;
        text-decoration: none;
}

.menu__item-link:hover, 
.menu__item-link:focus, 
.menu__item-link:active
.page-header {
        transition: all 100ms ease;
        text-decoration: none;
        background: $turkis;
        color: $black;
}

.menu__submenu {
        background-color: $black;
}

.page__header__search {
    top: 2.5em;
}
