#farte-reiseplanlegger {

    input {
        background-repeat: no-repeat;
    }

    input#from,
    input#to,
    input#date,
    input#time {
        padding-left:36px;
        background-position: 0 50%;
        background-size: 24px 24px;
    }

    input#from {
        background-image:url('/bundles/tfkfarte/images/icon/icon-til.svg');
    }

    input#to {
        background-image:url('/bundles/tfkfarte/images/icon/icon-fra.svg');
    }

    input#date {
        background-position: 4% 50%;
        background-image: url("/bundles/tfkfarte/images/icon/icon-dato.svg");
        background-size: 22px 22px;
    }

    input#time {
        background-position: 4% 50%;
        background-image:url('/bundles/tfkfarte/images/icon/icon-tid.svg');
        background-size: 22px 22px;
    }


}
