<div class="grid__item grid__item--4-12 media item item--horizontal">
	{% if content.getFieldValue('colorbox_link').bool == '1' %}
		<a href="{{path(location)}}">
	{% endif %}
  <div class="item item--vertical {{content.getFieldValue('colorbox_class')}} grid__item--12">
    <div class="item-content{% if content.getFieldValue('colorbox_white').bool == '1' %} white{% endif %}">
      <h2>{{content.getFieldValue('name')}}</h2>
      <p>{{ez_render_field(content, 'colorbox_text')}}</p>
    </div>
  </div>
  {% if content.getFieldValue('colorbox_link').bool == '1' %}
		</a>
	{% endif %}
</div>
