<div class="grid__item grid__item--4-12 media item item--horizontal">
  <div class="item item--vertical grid__item--12">
    <h1 class="tabs__content__header news">{{content.getFieldValue('title')}}</h1>
    <div class="item-content white">
      {{ez_render_field(content, 'description')}}
    </div>
  </div>
</div>