@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
body:after {
  content: '';
  background-image: url("//pls.webtype.com/v.gif?ct=140543,140543,140543,140543,140542,140542,140542,140542&r=50150&p=47997&h=pMoMUM9LP0%2bO9t8t%2fbX%2bnA%3d%3d"); }

@font-face {
  font-family: "Telefon";
  src: url("//cloud.webtype.com/webtype/ff2/2/066731ed-4a67-4240-9b6c-ea827d1b6477?ec_token=8f7c4c4997246fd7fa920075ce943b56dbfe91f607b7f50ac60389783b67a3c4fe591d8c5b82c3ad5fd70d48a6bdaafa14edde229a39f740ddb35f74acff3fb56e39d87ef10634859b94c596d32a9aafde61b1144ff183ec04e95682c8fae133e5d2b7a8a2a5044e");
  src: url("//cloud.webtype.com/webtype/ff2/2/066731ed-4a67-4240-9b6c-ea827d1b6477?ec_token=8f7c4c4997246fd7fa920075ce943b56dbfe91f607b7f50ac60389783b67a3c4fe591d8c5b82c3ad5fd70d48a6bdaafa14edde229a39f740ddb35f74acff3fb56e39d87ef10634859b94c596d32a9aafde61b1144ff183ec04e95682c8fae133e5d2b7a8a2a5044e#iefix") format("embedded-opentype"), url("//cloud.webtype.com/webtype/ff2/1/67255ea1-109b-428a-a695-a71ceab7a8f8?ec_token=8f7c4c4997246fd7fa920075ce943b56dbfe91f607b7f50ac60389783b67a3c4fe591d8c5b82c3ad5cd70b49a2bfacae2316a9d31249a18974d040705e98c83ba1f912e06d72b15629de946192a830b66c57968013b944b4d1dac6e127fa7b13bd6be6b8260bcb4b") format("truetype"), url("//cloud.webtype.com/webtype/ff2/3/1c5ae91c-40e5-4c24-8ee4-322d91609f98?ec_token=8f7c4c4997246fd7fa920075ce943b56dbfe91f607b7f50ac60389783b67a3c4fe591d8c5b82c3ad5ed70c1da5ebfcf277b9821f343d478188b4c4f244fa64fd0a01a4c9fc2ae27cfd8a9c28c382b5152c373acea2c98268ddcfce2c735bea2d646c026b7bd96350") format("woff"), url("//cloud.webtype.com/webtype/ff2/4/18881d3c-cc3e-4175-9adc-d1c53a7488ce?ec_token=8f7c4c4997246fd7fa920075ce943b56dbfe91f607b7f50ac60389783b67a3c4fe591d8c5b82c3ad59d70c46a8b2a8afbc64122858beae8ba1b965cae288529e72bfa416d1f04868513d7530f1829cb175a0cd75e7d4fb5d1b0534e996910329d844b553eb4cd4f3#web") format("svg");
  font-style: normal;
  font-weight: normal; }

.page-header__logo {
  margin: .5em 0;
  margin-top: .75em; }

.menu {
  background: #333; }

.menu__item-link {
  color: #fff;
  -webkit-transition: background .2s;
  transition: background .2s;
  text-decoration: none; }

.menu__item-link:hover,
.menu__item-link:focus,
.menu__item-link:active
.page-header {
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
  text-decoration: none;
  background: #6ac4ae;
  color: #333; }

.menu__submenu {
  background-color: #333; }

.page__header__search {
  top: 2.5em; }

.ui-autocomplete-loading {
  background: url("/bundles/tfkfarte/images/ajax-loader.gif") no-repeat 95% center #fff; }

#ui-datepicker-div {
  background-color: #fff;
  border: 1px solid #bdbdbd;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 2px 3px 0 rgba(51, 51, 51, 0.2);
  color: #333;
  margin-left: -85px;
  max-width: 280px;
  width: 100%;
  display: none;
  font-family: "Telefon", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif; }

#ui-datepicker-div .ui-datepicker-header {
  background-color: #fff;
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0 0 #fff;
  display: inline-block;
  width: 100%; }

#ui-datepicker-div .ui-datepicker-header a.ui-datepicker-prev {
  color: #333;
  float: left;
  padding: 2%;
  text-align: center;
  width: 20%; }

#ui-datepicker-div .ui-datepicker-header a.ui-datepicker-next {
  color: #333;
  float: right;
  padding: 2%;
  text-align: center;
  width: 20%; }

#ui-datepicker-div .ui-datepicker-header .ui-datepicker-title {
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  box-shadow: -1px 0 0 0 #333 inset, 1px 0 0 0 #333 inset;
  float: left;
  font-weight: 500;
  padding: 2%;
  text-align: center;
  width: 60%;
  background-color: #ededed; }

#ui-datepicker-div a:hover {
  background-color: #ffd520;
  border: medium none;
  cursor: pointer; }

#ui-datepicker-div .ui-datepicker-calendar thead {
  border-bottom: 1px solid #333;
  box-shadow: 0 1px 0 0 #333;
  height: 30px; }

#ui-datepicker-div .ui-datepicker-calendar thead tr {
  float: left;
  width: 100%; }

#ui-datepicker-div .ui-datepicker-calendar thead tr th {
  width: 40px; }

#ui-datepicker-div .ui-datepicker-calendar thead tr th:last-child {
  color: red; }

#ui-datepicker-div .ui-datepicker-calendar tbody {
  background-color: #fff; }

#ui-datepicker-div .ui-datepicker-calendar tbody tr {
  float: left;
  width: 100%; }

#ui-datepicker-div .ui-datepicker-calendar tbody tr td {
  border-bottom: 1px solid #999;
  border-right: none;
  box-shadow: none;
  display: table-cell;
  float: none;
  height: 30px;
  vertical-align: middle;
  width: 40px; }

#ui-datepicker-div .ui-datepicker-calendar tbody tr td a {
  color: #333;
  display: block;
  height: 100%;
  padding: 9%;
  text-align: center;
  width: 100%; }

#ui-datepicker-div .ui-datepicker-calendar tbody tr td:last-child {
  border-right: medium none; }

#farte-reiseplanlegger .autocomplete {
  display: block;
  position: fixed;
  width: 47.1%;
  background-color: #fff; }

#farte-reiseplanlegger .autocomplete .ui-autocomplete li {
  padding: .3em .6em;
  list-style: none; }

.ui-autocomplete {
  top: 0;
  left: 0;
  cursor: default;
  background-color: #fff;
  box-shadow: none;
  max-height: 500px;
  overflow: none;
  text-align: left;
  z-index: 99999;
  width: 90%;
  padding: .25em; }

.ui-autocomplete li:focus,
.ui-autocomplete li:hover {
  background-color: #6AC4AE;
  color: #f9f9f9; }

.ui-autocomplete a {
  color: #FFF;
  text-shadow: 0 -1px 0 #68a03d;
  text-decoration: none;
  display: block;
  padding: 5px 28px 5px 5px;
  position: relative; }

.ui-helper-hidden-accessible {
  display: none; }

.ui-state-focus {
  background-color: #6AC4AE; }

.ui-timepicker-wrapper {
  overflow-y: auto;
  height: 150px;
  width: 6.5em;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  outline: 0;
  z-index: 10001;
  margin: 0; }

.ui-timepicker-wrapper.ui-timepicker-with-duration {
  width: 11em; }

.ui-timepicker-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.ui-timepicker-duration {
  margin-left: 5px;
  color: #888; }

.ui-timepicker-list:hover .ui-timepicker-duration {
  color: #888; }

.ui-timepicker-list li {
  padding: 3px 0 3px 5px;
  cursor: pointer;
  white-space: nowrap;
  color: #000;
  list-style: none;
  margin: 0; }

.ui-timepicker-list:hover .ui-timepicker-selected {
  background: #fff;
  color: #000; }

.ui-timepicker-list .ui-timepicker-selected:hover,
.ui-timepicker-list li:hover,
li.ui-timepicker-selected {
  background: #7BC142;
  color: #fff; }

.ui-timepicker-list li:hover .ui-timepicker-duration,
li.ui-timepicker-selected .ui-timepicker-duration {
  color: #ccc; }

.ui-timepicker-list li.ui-timepicker-disabled,
.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
  color: #888;
  cursor: default; }

.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
  background: #f2f2f2; }

.travel-tabs {
  position: relative;
  width: 100%;
  display: block;
  margin-top: 3.5em;
  top: -2em;
  margin-left: 2em; }
  .travel-tabs form {
    float: left;
    margin-right: .5em; }
    .travel-tabs form button.btn {
      border-radius: 5px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      margin-bottom: -2px;
      margin-left: -1px;
      margin-right: 0.35em;
      padding: .5em .5em; }
    .travel-tabs form button#realtime.active {
      z-index: 100;
      position: relative;
      background: white; }

#farte-reiseplanlegger {
  position: relative;
  z-index: 10;
  padding: 1.25em 2em 1.5em 2em;
  box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background: #fff; }
  #farte-reiseplanlegger .grid__item.search--btn .object-right {
    margin: 0; }
  #farte-reiseplanlegger button#submit {
    height: 44px;
    width: 100%;
    margin-top: 1.85em !important;
    border-radius: 5px;
    padding: 0; }
    #farte-reiseplanlegger button#submit span {
      text-align: center;
      padding: 1em; }
  #farte-reiseplanlegger label {
    font-family: "Telefon", sans-serif;
    display: block; }
  #farte-reiseplanlegger input[type="text"], #farte-reiseplanlegger input {
    background-color: #f3f4f5;
    font-size: 1.25em;
    border: none;
    padding: 1em 0.25em;
    box-sizing: border-box;
    max-width: 100%;
    border-radius: 5px;
    margin-top: 0.25em;
    font-family: "Open Sans";
    color: #333; }
  @media screen and (min-width: 800px) {
    #farte-reiseplanlegger .grid.grid--12 {
      padding: .5em; }
    #farte-reiseplanlegger .grid__item {
      box-sizing: border-box; }
    #farte-reiseplanlegger .grid.grid--12 {
      padding: .5em; }
    #farte-reiseplanlegger .grid__item--4-12 {
      width: 32.2033898305%;
      float: left;
      margin-right: 1.6949152542%;
      margin-left: 0; }
    #farte-reiseplanlegger .grid__item--2-12 {
      width: 13.9830508475%;
      float: left;
      margin-right: 1.6949152542%;
      margin-left: 0; }
    #farte-reiseplanlegger .grid__item--1-12 {
      width: 6.7796610169%;
      float: left;
      margin-right: 1.6949152542%; }
      #farte-reiseplanlegger .grid__item--1-12:last-child {
        margin: 0; } }
  @media screen and (max-width: 799px) {
    #farte-reiseplanlegger .grid__item--2-12 {
      float: left;
      clear: left;
      padding-right: 1.5em;
      margin-left: .5em; }
    #farte-reiseplanlegger .grid__item.grid__item--1-12,
    #farte-reiseplanlegger .grid__item.grid__item--2-12 {
      float: left;
      margin-top: 1em; }
    #farte-reiseplanlegger .grid__item.search--btn.grid__item--1-12 {
      float: right;
      margin-right: .5em; } }
  @media screen and (max-width: 599px) {
    #farte-reiseplanlegger .grid__item.grid__item--4-12 {
      float: left;
      width: 100%; }
    #farte-reiseplanlegger .grid__item.search--btn.grid__item--1-12 {
      margin-right: 0em; }
    #farte-reiseplanlegger .grid__item.grid__item--1-12,
    #farte-reiseplanlegger .grid__item.grid__item--2-12 {
      margin-top: 0em; }
    #farte-reiseplanlegger input {
      min-width: 100%;
      margin-bottom: .75em; }
    #farte-reiseplanlegger .grid__item--2-12 {
      margin-left: 0em; } }

.background-front {
  background-color: #6ac4ae;
  padding: 1em 0;
  overflow: hidden; }

.campaign-content {
  font-family: "Telefon", sans-serif;
  font-size: 2.5em;
  padding: 0em 1em 0px 1.25em;
  background-color: #FFD520;
  border-radius: 5px;
  line-height: 1.25em; }
  .campaign-content .item {
    padding-top: 1.5em;
    padding-bottom: 1.60em;
    overflow: visible; }
    .campaign-content .item .item__content {
      overflow: visible; }
      .campaign-content .item .item__content .item__intro {
        padding-bottom: 0em;
        margin: 0;
        line-height: 1.25em; }
        .campaign-content .item .item__content .item__intro .object-right {
          margin: -0.3em 0 .75em 1em; }
        .campaign-content .item .item__content .item__intro p {
          margin-bottom: 0;
          margin: 0; }
        .campaign-content .item .item__content .item__intro .class-image {
          margin-top: -.3em; }

@media screen and (max-width: 1000px) and (min-width: 800px) {
  .campaign-content .item {
    padding-bottom: 1.5em; }
    .campaign-content .item .item__intro {
      font-size: .675em; } }

@media screen and (max-width: 8000px) and (min-width: 600px) {
  .campaign-content .item {
    padding-bottom: 2.125em; }
    .campaign-content .item .item__intro {
      font-size: .675em; } }

.item__content.news {
  background-color: #fff; }

.news.grid__item--12 {
  background-color: #fff; }

.grid__item .item {
  position: initial; }
  .grid__item .item .item__header a {
    text-decoration: none;
    margin: .5em 0 -.25em 0px;
    display: block; }

h1.news.js-tabs-tab {
  background: url("/bundles/tfkfarte/images/icon/farte_mini_mini.png") no-repeat 0% top #fff;
  padding-left: 3.25em;
  border: 0;
  font-size: 1.67em;
  margin-bottom: -1.375em;
  padding-bottom: .5em;
  margin-top: 2em; }

h1.tabs__content__header.js-tabs-tab {
  background: url("/bundles/tfkfarte/images/icon/farte_mini_mini.png") no-repeat 4% center #fff;
  padding-left: 3.5em;
  border: 0;
  font-size: 1.67em;
  margin-bottom: .1em; }

.tabs__content {
  border: none; }

body, html, input {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #333; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Telefon", sans-serif; }

.object-left {
  margin: 0; }

@media (max-width: 63.9375em) {
  .menu-trigger,
  .menu-search-trigger,
  .menu__back-level:hover,
  .menu__back-level:focus,
  .menu__back-level:active,
  .menu__item__dropdown,
  .menu__item-content:hover .menu__item-link {
    background-color: #6ac4ae; }
  .menu-trigger:hover,
  .menu-trigger:focus,
  .menu-trigger:active,
  .menu-search-trigger:hover,
  .menu-search-trigger:focus,
  .menu-search-trigger:active {
    background-color: #99E0CF; }
  .menu__item__dropdown {
    box-shadow: inset 1px 0 rgba(255, 255, 255, 0.37); }
  .menu__item-link {
    box-shadow: inset 0 -1px rgba(255, 255, 255, 0.64); }
  .menu,
  .menu a,
  .page-header {
    color: #fff; }
  .menu__level {
    background: #333;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0); }
  .ui-autocomplete {
    width: 100% !important;
    left: 0 !important; } }

@media screen and (max-width: 37.5em) {
  .item--vertical .item__imglink {
    margin-top: 3px; }
  .page-header__logo img {
    height: 2.25em; }
  #ui-datepicker-div {
    margin-left: -1.19em;
    z-index: 200 !important; }
  .menu-trigger, .menu-search-trigger {
    width: 2.75em;
    height: 2.75em;
    top: .29em;
    margin-top: 0; }
  .item:first-child {
    padding-top: 1.25em; }
  .news .item {
    padding-bottom: 0em;
    padding-top: .7em; }
  .item__content {
    padding: .75em .5em 0em 1em; }
  .item__content.news {
    border-bottom: 1px solid; }
    .item__content.news:last-child {
      border: none; }
  .campaign-content {
    font-size: 1.75em;
    padding: 1em;
    text-align: center; }
    .campaign-content .item {
      padding: 0;
      padding-top: 0; }
      .campaign-content .item .item__content {
        padding-left: 0; }
        .campaign-content .item .item__content .item__intro {
          padding-bottom: 0;
          margin: 0;
          line-height: 1.125em; }
          .campaign-content .item .item__content .item__intro .class-image {
            margin-top: 0em; }
      .campaign-content .item .full-head img {
        margin: 0 auto;
        width: 146px;
        display: block; }
  .item--vertical .item__imglink {
    margin-top: .875em; }
  .item__content, .news.item__content {
    padding: 0; }
  h1.news.js-tabs-tab {
    margin-bottom: -.950em; } }

@media screen and (max-width: 368px) {
  #farte-reiseplanlegger button#submit {
    margin-top: 0.5em !important; } }
/*# sourceMappingURL=custom.css.map */