body:after {
  content: '';
  background-image: url("//pls.webtype.com/v.gif?ct=140543,140543,140543,140543,140542,140542,140542,140542&r=50150&p=47997&h=pMoMUM9LP0%2bO9t8t%2fbX%2bnA%3d%3d"); }

@font-face {
  font-family: "Telefon";
  src: url("//cloud.webtype.com/webtype/ff2/2/066731ed-4a67-4240-9b6c-ea827d1b6477?ec_token=8f7c4c4997246fd7fa920075ce943b56dbfe91f607b7f50ac60389783b67a3c4fe591d8c5b82c3ad5fd70d48a6bdaafa14edde229a39f740ddb35f74acff3fb56e39d87ef10634859b94c596d32a9aafde61b1144ff183ec04e95682c8fae133e5d2b7a8a2a5044e");
  src: url("//cloud.webtype.com/webtype/ff2/2/066731ed-4a67-4240-9b6c-ea827d1b6477?ec_token=8f7c4c4997246fd7fa920075ce943b56dbfe91f607b7f50ac60389783b67a3c4fe591d8c5b82c3ad5fd70d48a6bdaafa14edde229a39f740ddb35f74acff3fb56e39d87ef10634859b94c596d32a9aafde61b1144ff183ec04e95682c8fae133e5d2b7a8a2a5044e#iefix") format("embedded-opentype"), url("//cloud.webtype.com/webtype/ff2/1/67255ea1-109b-428a-a695-a71ceab7a8f8?ec_token=8f7c4c4997246fd7fa920075ce943b56dbfe91f607b7f50ac60389783b67a3c4fe591d8c5b82c3ad5cd70b49a2bfacae2316a9d31249a18974d040705e98c83ba1f912e06d72b15629de946192a830b66c57968013b944b4d1dac6e127fa7b13bd6be6b8260bcb4b") format("truetype"), url("//cloud.webtype.com/webtype/ff2/3/1c5ae91c-40e5-4c24-8ee4-322d91609f98?ec_token=8f7c4c4997246fd7fa920075ce943b56dbfe91f607b7f50ac60389783b67a3c4fe591d8c5b82c3ad5ed70c1da5ebfcf277b9821f343d478188b4c4f244fa64fd0a01a4c9fc2ae27cfd8a9c28c382b5152c373acea2c98268ddcfce2c735bea2d646c026b7bd96350") format("woff"), url("//cloud.webtype.com/webtype/ff2/4/18881d3c-cc3e-4175-9adc-d1c53a7488ce?ec_token=8f7c4c4997246fd7fa920075ce943b56dbfe91f607b7f50ac60389783b67a3c4fe591d8c5b82c3ad59d70c46a8b2a8afbc64122858beae8ba1b965cae288529e72bfa416d1f04868513d7530f1829cb175a0cd75e7d4fb5d1b0534e996910329d844b553eb4cd4f3#web") format("svg");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("/bundles/tfkfarte/fonts/icomoon.eot?fbymfg");
  src: url("/bundles/tfkfarte/fonts/icomoon.eot?fbymfg#iefix") format("embedded-opentype"), url("/bundles/tfkfarte/fonts/icomoon.woff?fbymfg") format("woff"), url("/bundles/tfkfarte/fonts/icomoon.ttf?fbymfg") format("truetype");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 62px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon--"], [class*=" icon--"] {
  font-size: inherit; }

.icon-icon-dato .path1:before {
  content: "\e901";
  color: #8cbfaa; }

.icon-icon-dato .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: #222221; }

.icon-icon-dato .path3:before {
  content: "\e903";
  margin-left: -1em;
  color: #222221; }

.icon-icon-fra .path1:before {
  content: "\e904";
  color: #222221; }

.icon-icon-fra .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: #8cbfaa; }

.icon-icon-reiseplanlegger .path1:before {
  content: "\e906";
  color: #222221; }

.icon-icon-reiseplanlegger .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: #8cbfaa; }

.icon-icon-reiseplanlegger .path3:before {
  content: "\e908";
  margin-left: -1em;
  color: #8cbfaa; }

.icon-icon-sanntid .path1:before {
  content: "\e909";
  color: #8cbfaa; }

.icon-icon-sanntid .path2:before {
  content: "\e90a";
  margin-left: -1em;
  color: #222221; }

.icon-icon-sanntid .path3:before {
  content: "\e90b";
  margin-left: -1em;
  color: #89c2ac; }

.icon-icon-sanntid .path4:before {
  content: "\e90c";
  margin-left: -1em;
  color: #89c2ac; }

.icon-icon-tid .path1:before {
  content: "\e90d";
  color: #8cbfaa; }

.icon-icon-tid .path2:before {
  content: "\e90e";
  margin-left: -1em;
  color: #222221; }

.icon-icon-til .path1:before {
  content: "\e90f";
  color: #222221; }

.icon-icon-til .path2:before {
  content: "\e910";
  margin-left: -1em;
  color: #8cbfaa; }

.icon-billetter-stor .path1:before {
  content: "\e911";
  color: white; }

.icon-billetter-stor .path2:before {
  content: "\e912";
  margin-left: -1em;
  color: #222221; }

.icon-billetter-stor .path3:before {
  content: "\e913";
  margin-left: -1em;
  color: #222221; }

.icon-billetter-stor .path4:before {
  content: "\e914";
  margin-left: -1em;
  color: #89c2ac; }

.icon-billetter-stor .path5:before {
  content: "\e915";
  margin-left: -1em;
  color: #222221; }

.icon-billetter-stor .path6:before {
  content: "\e916";
  margin-left: -1em;
  color: white; }

.icon-billetter-stor .path7:before {
  content: "\e917";
  margin-left: -1em;
  color: white; }

.icon-billetter-stor .path8:before {
  content: "\e918";
  margin-left: -1em;
  color: white; }

.icon-billetter-stor .path9:before {
  content: "\e919";
  margin-left: -1em;
  color: #222221; }

.icon-billetter-stor .path10:before {
  content: "\e91a";
  margin-left: -1em;
  color: #222221; }

.icon-dato-stor .path1:before {
  content: "\e91b";
  color: #89c2ac; }

.icon-dato-stor .path2:before {
  content: "\e91c";
  margin-left: -1em;
  color: #222221; }

.icon-dato-stor .path3:before {
  content: "\e91d";
  margin-left: -1em;
  color: #222221; }

.icon-dato-stor .path4:before {
  content: "\e91e";
  margin-left: -1em;
  color: #222221; }

.icon-dato-stor .path5:before {
  content: "\e91f";
  margin-left: -1em;
  color: #222221; }

.icon-dato-stor .path6:before {
  content: "\e920";
  margin-left: -1em;
  color: #222221; }

.icon-dato-stor .path7:before {
  content: "\e921";
  margin-left: -1em;
  color: white; }

.icon-dato-stor .path8:before {
  content: "\e922";
  margin-left: -1em;
  color: black; }

.icon-dato-stor .path9:before {
  content: "\e923";
  margin-left: -1em;
  color: black; }

.icon-nettsiden-stor .path1:before {
  content: "\e924";
  color: white; }

.icon-nettsiden-stor .path2:before {
  content: "\e925";
  margin-left: -1em;
  color: #222221; }

.icon-nettsiden-stor .path3:before {
  content: "\e926";
  margin-left: -1em;
  color: white; }

.icon-nettsiden-stor .path4:before {
  content: "\e927";
  margin-left: -1em;
  color: #222221; }

.icon-nettsiden-stor .path5:before {
  content: "\e928";
  margin-left: -1em;
  color: #89c2ac; }

.icon-nettsiden-stor .path6:before {
  content: "\e929";
  margin-left: -1em;
  color: white; }

.icon-nettsiden-stor .path7:before {
  content: "\e92a";
  margin-left: -1em;
  color: white; }

.icon-nettsiden-stor .path8:before {
  content: "\e92b";
  margin-left: -1em;
  color: white; }

.icon-reisegaranti-stor .path1:before {
  content: "\e92c";
  color: white; }

.icon-reisegaranti-stor .path2:before {
  content: "\e92d";
  margin-left: -1em;
  color: #222221; }

.icon-reisegaranti-stor .path3:before {
  content: "\e92e";
  margin-left: -1em;
  color: #89c2ac; }

.icon-reisegaranti-stor .path4:before {
  content: "\e92f";
  margin-left: -1em;
  color: #222221; }

.icon-reisegaranti-stor .path5:before {
  content: "\e930";
  margin-left: -1em;
  color: white; }

.icon-reisegaranti-stor .path6:before {
  content: "\e931";
  margin-left: -1em;
  color: white; }

.icon-reisegaranti-stor .path7:before {
  content: "\e932";
  margin-left: -1em;
  color: white; }

.icon-fra-stor .path1:before {
  content: "\e933";
  color: #222221; }

.icon-fra-stor .path2:before {
  content: "\e934";
  margin-left: -1em;
  color: #8cbfaa; }

.icon-fra-stor .path3:before {
  content: "\e935";
  margin-left: -1em;
  color: #89c2ac; }

.icon-fra-stor .path4:before {
  content: "\e936";
  margin-left: -1em;
  color: #222221; }

.icon-kontakt-stor .path1:before {
  content: "\e937";
  color: #89c2ac; }

.icon-kontakt-stor .path2:before {
  content: "\e938";
  margin-left: -1em;
  color: #222221; }

.icon-kontakt-stor .path3:before {
  content: "\e939";
  margin-left: -1em;
  color: white; }

.icon-kontakt-stor .path4:before {
  content: "\e93a";
  margin-left: -1em;
  color: #222221; }

.icon-kontakt-stor .path5:before {
  content: "\e93b";
  margin-left: -1em;
  color: #89c2ac; }

.icon-kontakt-stor .path6:before {
  content: "\e93c";
  margin-left: -1em;
  color: #222221; }

.icon-kontakt-stor .path7:before {
  content: "\e93d";
  margin-left: -1em;
  color: #89c2ac; }

.icon-kontakt-stor .path8:before {
  content: "\e93e";
  margin-left: -1em;
  color: #222221; }

.icon-kontakt-stor .path9:before {
  content: "\e93f";
  margin-left: -1em;
  color: #222221; }

.icon-kontakt-stor .path10:before {
  content: "\e940";
  margin-left: -1em;
  color: #89c2ac; }

.icon-reiseplanlegger-stor .path1:before {
  content: "\e941";
  color: #222221; }

.icon-reiseplanlegger-stor .path2:before {
  content: "\e942";
  margin-left: -1em;
  color: #89c2ac; }

.icon-reiseplanlegger-stor .path3:before {
  content: "\e943";
  margin-left: -1em;
  color: #222221; }

.icon-reiseplanlegger-stor .path4:before {
  content: "\e944";
  margin-left: -1em;
  color: white; }

.icon-reiseplanlegger-stor .path5:before {
  content: "\e945";
  margin-left: -1em;
  color: #222221; }

.icon-reiseplanlegger-stor .path6:before {
  content: "\e946";
  margin-left: -1em;
  color: white; }

.icon-reiseplanlegger-stor .path7:before {
  content: "\e947";
  margin-left: -1em;
  color: #222221; }

.icon-reiseplanlegger-stor .path8:before {
  content: "\e948";
  margin-left: -1em;
  color: #89c2ac; }

.icon-reiseplanlegger-stor .path9:before {
  content: "\e949";
  margin-left: -1em;
  color: #222221; }

.icon-ruter-stor .path1:before {
  content: "\e94a";
  color: #89c2ac; }

.icon-ruter-stor .path2:before {
  content: "\e94b";
  margin-left: -1em;
  color: #222221; }

.icon-ruter-stor .path3:before {
  content: "\e94c";
  margin-left: -1em;
  color: white; }

.icon-ruter-stor .path4:before {
  content: "\e94d";
  margin-left: -1em;
  color: #222221; }

.icon-ruter-stor .path5:before {
  content: "\e94e";
  margin-left: -1em;
  color: #222221; }

.icon-ruter-stor .path6:before {
  content: "\e94f";
  margin-left: -1em;
  color: #222221; }

.icon-ruter-stor .path7:before {
  content: "\e950";
  margin-left: -1em;
  color: #e6e6e6; }

.icon-ruter-stor .path8:before {
  content: "\e951";
  margin-left: -1em;
  color: #222221; }

.icon-ruter-stor .path9:before {
  content: "\e952";
  margin-left: -1em;
  color: #222221; }

.icon-sanntid-stor .path1:before {
  content: "\e953";
  color: #8cbfaa; }

.icon-sanntid-stor .path2:before {
  content: "\e954";
  margin-left: -1em;
  color: #89c2ac; }

.icon-sanntid-stor .path3:before {
  content: "\e955";
  margin-left: -1em;
  color: #222221; }

.icon-sanntid-stor .path4:before {
  content: "\e956";
  margin-left: -1em;
  color: #89c2ac; }

.icon-sanntid-stor .path5:before {
  content: "\e957";
  margin-left: -1em;
  color: #222221; }

.icon-sanntid-stor .path6:before {
  content: "\e958";
  margin-left: -1em;
  color: white; }

.icon-sanntid-stor .path7:before {
  content: "\e959";
  margin-left: -1em;
  color: #222221; }

.icon-sanntid-stor .path8:before {
  content: "\e95a";
  margin-left: -1em;
  color: #222221; }

.icon-sanntid-stor .path9:before {
  content: "\e95b";
  margin-left: -1em;
  color: #222221; }

.icon-skoleskyss-stor .path1:before {
  content: "\e95c";
  color: white; }

.icon-skoleskyss-stor .path2:before {
  content: "\e95d";
  margin-left: -1em;
  color: #89c2ac; }

.icon-skoleskyss-stor .path3:before {
  content: "\e95e";
  margin-left: -1em;
  color: white; }

.icon-skoleskyss-stor .path4:before {
  content: "\e95f";
  margin-left: -1em;
  color: #222221; }

.icon-skoleskyss-stor .path5:before {
  content: "\e960";
  margin-left: -1em;
  color: #222221; }

.icon-skoleskyss-stor .path6:before {
  content: "\e961";
  margin-left: -1em;
  color: #222221; }

.icon-skoleskyss-stor .path7:before {
  content: "\e962";
  margin-left: -1em;
  color: #222221; }

.icon-skoleskyss-stor .path8:before {
  content: "\e963";
  margin-left: -1em;
  color: #222221; }

.icon-skoleskyss-stor .path9:before {
  content: "\e964";
  margin-left: -1em;
  color: #222221; }

.icon-skoleskyss-stor .path10:before {
  content: "\e965";
  margin-left: -1em;
  color: #222221; }

.icon-skoleskyss-stor .path11:before {
  content: "\e966";
  margin-left: -1em;
  color: white; }

.icon-skoleskyss-stor .path12:before {
  content: "\e967";
  margin-left: -1em;
  color: #89c2ac; }

.icon-skoleskyss-stor .path13:before {
  content: "\e968";
  margin-left: -1em;
  color: white; }

.icon-skoleskyss-stor .path14:before {
  content: "\e969";
  margin-left: -1em;
  color: #222221; }

.icon-skoleskyss-stor .path15:before {
  content: "\e96a";
  margin-left: -1em;
  color: #222221; }

.icon-skoleskyss-stor .path16:before {
  content: "\e96b";
  margin-left: -1em;
  color: #222221; }

.icon-skoleskyss-stor .path17:before {
  content: "\e96c";
  margin-left: -1em;
  color: #222221; }

.icon-skoleskyss-stor .path18:before {
  content: "\e96d";
  margin-left: -1em;
  color: #222221; }

.icon-skoleskyss-stor .path19:before {
  content: "\e96e";
  margin-left: -1em;
  color: #222221; }

.icon-skoleskyss-stor .path20:before {
  content: "\e96f";
  margin-left: -1em;
  color: #222221; }

.icon-skoleskyss-stor .path21:before {
  content: "\e970";
  margin-left: -1em;
  color: #222221; }

.icon-skoleskyss-stor .path22:before {
  content: "\e971";
  margin-left: -1em;
  color: #222221; }

.icon-taptfunnet-stor .path1:before {
  content: "\e972";
  color: #222221; }

.icon-taptfunnet-stor .path2:before {
  content: "\e973";
  margin-left: -1em;
  color: #222221; }

.icon-taptfunnet-stor .path3:before {
  content: "\e974";
  margin-left: -1em;
  color: #cccccc; }

.icon-taptfunnet-stor .path4:before {
  content: "\e975";
  margin-left: -1em;
  color: #89c2ac; }

.icon-taptfunnet-stor .path5:before {
  content: "\e976";
  margin-left: -1em;
  color: #222221; }

.icon-taptfunnet-stor .path6:before {
  content: "\e977";
  margin-left: -1em;
  color: white; }

.icon-taptfunnet-stor .path7:before {
  content: "\e978";
  margin-left: -1em;
  color: #222221; }

.icon-taptfunnet-stor .path8:before {
  content: "\e979";
  margin-left: -1em;
  color: #89c2ac; }

.icon-taptfunnet-stor .path9:before {
  content: "\e97a";
  margin-left: -1em;
  color: #222221; }

.icon-taptfunnet-stor .path10:before {
  content: "\e97b";
  margin-left: -1em;
  color: white; }

.icon-taptfunnet-stor .path11:before {
  content: "\e97c";
  margin-left: -1em;
  color: #222221; }

.icon-taptfunnet-stor .path12:before {
  content: "\e97d";
  margin-left: -1em;
  color: #e6e6e6; }

.icon-taptfunnet-stor .path13:before {
  content: "\e97e";
  margin-left: -1em;
  color: #222221; }

.icon-taptfunnet-stor .path14:before {
  content: "\e97f";
  margin-left: -1em;
  color: #e6e6e6; }

.icon-taptfunnet-stor .path15:before {
  content: "\e980";
  margin-left: -1em;
  color: #222221; }

.icon-tid-stor .path1:before {
  content: "\e981";
  color: #8cbfaa; }

.icon-tid-stor .path2:before {
  content: "\e982";
  margin-left: -1em;
  color: #222221; }

.icon-tid-stor .path3:before {
  content: "\e983";
  margin-left: -1em;
  color: #222221; }

.icon-til-stor .path1:before {
  content: "\e984";
  color: #222221; }

.icon-til-stor .path2:before {
  content: "\e985";
  margin-left: -1em;
  color: #89c2ac; }

.icon-til-stor .path3:before {
  content: "\e986";
  margin-left: -1em;
  color: #222221; }

.icon-trafikkmeldinger-stor .path1:before {
  content: "\e987";
  color: #89c2ac; }

.icon-trafikkmeldinger-stor .path2:before {
  content: "\e988";
  margin-left: -1em;
  color: #222221; }

.icon-trafikkmeldinger-stor .path3:before {
  content: "\e989";
  margin-left: -1em;
  color: white; }

.icon-trafikkmeldinger-stor .path4:before {
  content: "\e98a";
  margin-left: -1em;
  color: #89c2ac; }

.page-header__logo {
  margin: .5em 0;
  margin-top: .75em; }

.menu {
  background: #333; }

.menu__item-link {
  color: #fff;
  -webkit-transition: background .2s;
  transition: background .2s;
  text-decoration: none; }

.menu__item-link:hover,
.menu__item-link:focus,
.menu__item-link:active
.page-header {
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
  text-decoration: none;
  background: #6AC4AE;
  color: #333; }

.menu__submenu {
  background-color: #333; }

.page__header__search {
  top: 2.5em; }

.ui-autocomplete-loading {
  background: url("/bundles/tfkfarte/images/ajax-loader.gif") no-repeat 95% center #fff; }

#ui-datepicker-div {
  background-color: #fff;
  border: 1px solid #bdbdbd;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 2px 3px 0 rgba(51, 51, 51, 0.2);
  color: #333;
  margin-left: -85px;
  max-width: 280px;
  width: 100%;
  display: none;
  font-family: "Telefon", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif; }

#ui-datepicker-div .ui-datepicker-header {
  background-color: #fff;
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0 0 #fff;
  display: inline-block;
  width: 100%; }

#ui-datepicker-div .ui-datepicker-header a.ui-datepicker-prev {
  color: #333;
  float: left;
  padding: 2%;
  text-align: center;
  width: 20%; }

#ui-datepicker-div .ui-datepicker-header a.ui-datepicker-next {
  color: #333;
  float: right;
  padding: 2%;
  text-align: center;
  width: 20%; }

#ui-datepicker-div .ui-datepicker-header .ui-datepicker-title {
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  box-shadow: -1px 0 0 0 #333 inset, 1px 0 0 0 #333 inset;
  float: left;
  font-weight: 500;
  padding: 2%;
  text-align: center;
  width: 60%;
  background-color: #ededed; }

#ui-datepicker-div a:hover {
  background-color: #ffd520;
  border: medium none;
  cursor: pointer; }

#ui-datepicker-div .ui-datepicker-calendar thead {
  border-bottom: 1px solid #333;
  box-shadow: 0 1px 0 0 #333;
  height: 30px; }

#ui-datepicker-div .ui-datepicker-calendar thead tr {
  float: left;
  width: 100%; }

#ui-datepicker-div .ui-datepicker-calendar thead tr th {
  width: 40px; }

#ui-datepicker-div .ui-datepicker-calendar thead tr th:last-child {
  color: red; }

#ui-datepicker-div .ui-datepicker-calendar tbody {
  background-color: #fff; }

#ui-datepicker-div .ui-datepicker-calendar tbody tr {
  float: left;
  width: 100%; }

#ui-datepicker-div .ui-datepicker-calendar tbody tr td {
  border-bottom: 1px solid #999;
  border-right: none;
  box-shadow: none;
  display: table-cell;
  float: none;
  height: 30px;
  vertical-align: middle;
  width: 40px; }

#ui-datepicker-div .ui-datepicker-calendar tbody tr td a {
  color: #333;
  display: block;
  height: 100%;
  padding: 9%;
  text-align: center;
  width: 100%; }

#ui-datepicker-div .ui-datepicker-calendar tbody tr td:last-child {
  border-right: medium none; }

#farte-reiseplanlegger .autocomplete {
  display: block;
  position: fixed;
  width: 47.1%;
  background-color: #fff; }

#farte-reiseplanlegger .autocomplete .ui-autocomplete li {
  padding: .3em .6em;
  list-style: none; }

.ui-autocomplete {
  top: 0;
  left: 0;
  cursor: default;
  background-color: #fff;
  box-shadow: none;
  max-height: 500px;
  overflow: none;
  text-align: left;
  z-index: 99999;
  width: 90%;
  padding: .25em; }

.ui-autocomplete li:focus,
.ui-autocomplete li:hover {
  background-color: #6AC4AE;
  color: #f9f9f9; }

.ui-autocomplete a {
  color: #FFF;
  text-shadow: 0 -1px 0 #68a03d;
  text-decoration: none;
  display: block;
  padding: 5px 28px 5px 5px;
  position: relative; }

.ui-helper-hidden-accessible {
  display: none; }

.ui-state-focus {
  background-color: #6AC4AE; }

.ui-timepicker-wrapper {
  overflow-y: auto;
  height: 150px;
  width: 6.5em;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  outline: 0;
  z-index: 10001;
  margin: 0; }

.ui-timepicker-wrapper.ui-timepicker-with-duration {
  width: 11em; }

.ui-timepicker-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.ui-timepicker-duration {
  margin-left: 5px;
  color: #888; }

.ui-timepicker-list:hover .ui-timepicker-duration {
  color: #888; }

.ui-timepicker-list li {
  padding: 3px 0 3px 5px;
  cursor: pointer;
  white-space: nowrap;
  color: #000;
  list-style: none;
  margin: 0; }

.ui-timepicker-list:hover .ui-timepicker-selected {
  background: #fff;
  color: #000; }

.ui-timepicker-list .ui-timepicker-selected:hover,
.ui-timepicker-list li:hover,
li.ui-timepicker-selected {
  background: #7BC142;
  color: #fff; }

.ui-timepicker-list li:hover .ui-timepicker-duration,
li.ui-timepicker-selected .ui-timepicker-duration {
  color: #ccc; }

.ui-timepicker-list li.ui-timepicker-disabled,
.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
  color: #888;
  cursor: default; }

.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
  background: #f2f2f2; }

.travel-tabs {
  position: relative;
  width: 100%;
  display: block;
  margin-top: 3.5em;
  top: -2em;
  margin-left: 1.75em; }
  .travel-tabs form {
    float: left;
    margin-right: .5em; }
    .travel-tabs form button.btn {
      border-radius: 5px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      margin-bottom: -2px;
      margin-left: -1px;
      margin-right: .35em;
      padding: 0.5em .75em;
      font-size: 1.125em;
      text-decoration: none; }
    .travel-tabs form button#realtime.active {
      z-index: 100;
      position: relative;
      background: white; }

#farte-reiseplanlegger {
  position: relative;
  z-index: 10;
  padding: 1.25em 2em 1.5em 2em;
  box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background: #fff; }
  #farte-reiseplanlegger .grid__item.search--btn .object-right {
    margin: 0; }
  #farte-reiseplanlegger button#submit {
    height: 36px;
    width: 100%;
    margin-top: 29px;
    border-radius: 5px;
    padding: 0; }
    #farte-reiseplanlegger button#submit span {
      text-align: center;
      padding: 1em; }
  #farte-reiseplanlegger label {
    font-family: "Telefon", sans-serif;
    display: block;
    font-size: 1.125em; }
  #farte-reiseplanlegger input[type="text"], #farte-reiseplanlegger input {
    background-color: #f3f4f5;
    font-size: 1.125em;
    border: none;
    min-height: 2em;
    box-sizing: border-box;
    max-width: 100%;
    border-radius: 5px;
    margin-top: 0.25em;
    font-family: 'Open Sans', sans-serif;
    color: #333; }
  @media screen and (min-width: 1101px) {
    #farte-reiseplanlegger .grid.grid--12 {
      padding: .5em; }
    #farte-reiseplanlegger .grid__item {
      box-sizing: border-box; }
    #farte-reiseplanlegger .grid.grid--12 {
      padding: .5em; }
    #farte-reiseplanlegger .grid__item--4-12 {
      width: 32.2033898305%;
      float: left;
      margin-right: 1.6949152542%;
      margin-left: 0; }
      #farte-reiseplanlegger .grid__item--4-12 input {
        padding-right: 1.65em; }
    #farte-reiseplanlegger .grid__item--2-12 {
      width: 13.9830508475%;
      float: left;
      margin-right: 1.6949152542%;
      margin-left: 0;
      float: left; }
    #farte-reiseplanlegger .grid__item--2-12.date {
      width: 13.5593220339%;
      float: left;
      margin-right: 1.6949152542%; }
    #farte-reiseplanlegger .grid__item--1-12.time {
      width: 8.8983050847%;
      float: left;
      margin-right: 1.6949152542%; }
    #farte-reiseplanlegger .grid__item--1-12.search-btn {
      width: 5.5%;
      float: right; } }
  @media screen and (max-width: 1100px) {
    #farte-reiseplanlegger .grid__item--2-12 {
      float: left;
      clear: left;
      padding-right: 1.5em;
      margin-left: .5em; }
    #farte-reiseplanlegger .grid__item.grid__item--1-12,
    #farte-reiseplanlegger .grid__item.grid__item--2-12 {
      float: left;
      margin-top: 1em; }
    #farte-reiseplanlegger .grid__item.search--btn.grid__item--1-12 {
      float: right;
      margin-right: .5em; } }
  @media (min-width: 56.25em) and (max-width: 1100px) {
    #farte-reiseplanlegger .grid__item--4-12.from {
      width: 48%; }
    #farte-reiseplanlegger .grid__item--4-12.to {
      width: 48%;
      float: right;
      margin-right: 0;
      padding-right: .5em; }
    #farte-reiseplanlegger .grid__item--4-12 input {
      width: 100%; } }
  @media screen and (max-width: 599px) {
    #farte-reiseplanlegger .grid__item.grid__item--4-12 {
      float: left;
      width: 100%; }
    #farte-reiseplanlegger .grid__item.search--btn.grid__item--1-12 {
      margin-right: 0em; }
    #farte-reiseplanlegger .grid__item.grid__item--1-12,
    #farte-reiseplanlegger .grid__item.grid__item--2-12 {
      margin-top: 0em; }
    #farte-reiseplanlegger input {
      min-width: 100%;
      margin-bottom: .75em; }
    #farte-reiseplanlegger .grid__item--2-12 {
      margin-left: 0em; }
    #farte-reiseplanlegger .grid__item.grid__item--2-12.date {
      padding-right: .5em; } }

.background-front {
  background-color: #6AC4AE;
  padding: 1em 0;
  overflow: hidden; }

.campaign-content {
  font-family: "Telefon", sans-serif;
  font-size: 2.5em;
  padding: 0em 1em 0px 1.25em;
  background-color: #FFD520;
  min-height: 246px; }
  .campaign-content .item {
    padding-top: 1.75em;
    padding-bottom: 1.75em;
    overflow: visible; }
    .campaign-content .item .object-right {
      margin: .64em 0px 1em 0em; }
    .campaign-content .item .item__content {
      overflow: visible; }
      .campaign-content .item .item__content .item__intro {
        padding-bottom: 0em;
        margin: 0;
        line-height: 1.5em; }
        .campaign-content .item .item__content .item__intro img {
          border-radius: 110px;
          margin-top: -1.75em;
          margin-left: 1em;
          width: 180px;
          display: block; }
        .campaign-content .item .item__content .item__intro p {
          margin-bottom: 0;
          margin: 0; }

@media screen and (max-width: 1000px) and (min-width: 800px) {
  .campaign-content .item {
    padding-bottom: 1.5em; }
    .campaign-content .item .item__intro {
      font-size: .675em; } }

@media screen and (max-width: 800px) and (min-width: 600px) {
  .campaign-content .item {
    padding-bottom: 2.125em; }
    .campaign-content .item .item__intro {
      font-size: .675em; } }

@media screen and (max-width: 600px) {
  .campaign-content .item .item__content .item__intro img {
    margin: 0 auto; } }

.item__content.news {
  background-color: #fff; }

.news.grid__item--12 {
  background-color: #fff; }

.hide-on-news {
  display: none; }

.grid__item .item {
  position: initial; }
  .grid__item .item .object-right {
    margin-left: .5em; }
  .grid__item .item .item__header a {
    text-decoration: none;
    margin: .5em 0 -.25em 0px;
    display: block; }
  .grid__item .item img {
    margin-bottom: -4px; }
  .grid__item .item .line.item__content .item__intro {
    border-bottom: none;
    padding: 0 .5em;
    margin: 0; }
    .grid__item .item .line.item__content .item__intro p > a,
    .grid__item .item .line.item__content .item__intro a {
      font-size: 1.1em; }

h1.tabs__content__header.news {
  background: url("/bundles/tfkfarte/images/icon/farte_mini_mini.png") no-repeat 4% 48% #fff;
  padding-left: 2.5em;
  border: 0;
  font-size: 1.67em;
  margin-bottom: -1.375em;
  padding-bottom: .5em;
  margin-top: 0em;
  background-size: 1.5em;
  margin-bottom: .1em; }
  h1.tabs__content__header.news a {
    text-decoration: none;
    color: #333; }
    h1.tabs__content__header.news a:hover {
      text-decoration: underline; }

.tabs__content {
  border: none; }

.grid.pictos .grid__item--4-12 {
  border: 2px solid transparent; }

.grid.pictos .grid__item--4-12:hover {
  border-color: black; }

.grid.pictos a {
  color: #333; }

.grid.pictos .white p > a {
  color: white;
  font-size: .825em;
  font-weight: 900;
  border-bottom: 2px solid white; }
  .grid.pictos .white p > a:hover {
    border-color: #FFD520; }

.grid.pictos a {
  text-decoration: none;
  color: initial; }

.grid.pictos .item {
  overflow: hidden;
  min-height: 255px;
  padding-top: 0;
  padding-bottom: 0; }

.grid.pictos .item-content {
  padding: 1.275em 1.25em 1.5em 1.25em;
  font-size: 120%; }
  .grid.pictos .item-content hr {
    border-color: #333;
    border-style: solid;
    border-width: 1px; }
  .grid.pictos .item-content h2 {
    padding: 0;
    margin: 0;
    border-bottom: 2px solid; }
  .grid.pictos .item-content p {
    margin-left: 6.75em; }
    @media screen and (max-width: 900px) {
      .grid.pictos .item-content p {
        margin-left: 7.5em;
        margin-top: 1em; } }
  .grid.pictos .item-content.white p, .grid.pictos .item-content.white h2, .grid.pictos .item-content.white hr {
    color: #fff;
    border-color: #fff; }

.grid.pictos .item.school {
  background: url("/bundles/tfkfarte/images/icon/skoleskyss.svg") no-repeat 0% 0% #DBDCD7; }

.grid.pictos .item.guarantee {
  background: url("/bundles/tfkfarte/images/icon/reisegaranti.svg") no-repeat 0% 0% #01BDA1; }

.grid.pictos .item.truetime {
  background: url("/bundles/tfkfarte/images/icon/sanntid-feil.svg") no-repeat 0% 0% #000; }

@media screen and (max-width: 900px) {
  .grid.pictos .grid__item--4-12 {
    width: 100%;
    margin: 0;
    margin-bottom: .5em;
    clear: both; }
    .grid.pictos .grid__item--4-12:last-child {
      margin-bottom: 2em; } }

#farte-reiseplanlegger input {
  background-repeat: no-repeat; }

#farte-reiseplanlegger input#from,
#farte-reiseplanlegger input#to,
#farte-reiseplanlegger input#date,
#farte-reiseplanlegger input#time {
  padding-left: 36px;
  background-position: 0 50%;
  background-size: 24px 24px; }

#farte-reiseplanlegger input#from {
  background-image: url("/bundles/tfkfarte/images/icon/icon-til.svg"); }

#farte-reiseplanlegger input#to {
  background-image: url("/bundles/tfkfarte/images/icon/icon-fra.svg"); }

#farte-reiseplanlegger input#date {
  background-position: 4% 50%;
  background-image: url("/bundles/tfkfarte/images/icon/icon-dato.svg");
  background-size: 22px 22px; }

#farte-reiseplanlegger input#time {
  background-position: 4% 50%;
  background-image: url("/bundles/tfkfarte/images/icon/icon-tid.svg");
  background-size: 22px 22px; }

.menu__item-link:hover,
.menu__item-link:focus,
.menu__item-link:active {
  background-color: initial;
  color: #fff; }

.icon--menu-arrow-down.menu__item__dropdown.hide--to-l {
  background-image: none;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #000; }

li.menu__item:hover .icon--menu-arrow-down.menu__item__dropdown.hide--to-l {
  border-top: 8px solid #6AC4AE; }

li.menu__submenu-item:hover a {
  background-color: #6AC4AE;
  color: #fff; }

footer {
  margin-bottom: 3em; }
  footer a {
    text-decoration: none; }
    footer a:hover {
      border-bottom: 1px solid white; }
  footer .side-menu__item a {
    padding: 0.25em 0em; }
  footer .row {
    overflow: auto;
    padding: 1em; }
    footer .row > p {
      font-weight: 900; }
  footer ul {
    margin-bottom: .325em; }
    footer ul li {
      padding: .25em 0 0 1.75em; }
    footer ul li:first-child {
      padding-top: .025em; }
  footer h3 {
    font-weight: 600;
    margin-bottom: .25em;
    margin-top: .75em; }
  footer .column-4 ul {
    font-family: "Open sans", sans-serif;
    font-size: .875em;
    font-weight: 400; }
  footer .page-footer ul {
    margin-top: 0;
    padding-left: 0;
    list-style: none; }
  footer .page-footer .side-menu {
    margin-top: 1.375em;
    margin-bottom: initial;
    border: none; }
  footer .highlight--dark .side-menu__item a:after {
    background-image: none; }
  footer .highlight--dark .side-menu__item {
    border-bottom-color: transparent; }
  footer .page-footer__box {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    border: none;
    padding: 0; }

footer .column-4:last-child {
  margin-bottom: 1em; }

footer .column-4 li:before {
  content: "";
  width: 18px;
  height: 18px;
  background-image: url("/bundles/tfkfarte/images/icon/pil-lenker-01.svg");
  position: absolute;
  margin-top: 3px;
  padding-right: 0;
  margin-left: -1.75em; }

footer .column-4 li.buss:before {
  content: "";
  width: 32px;
  height: 18px;
  background-image: url("/bundles/tfkfarte/images/icon/kontakt-buss.svg");
  position: absolute;
  margin-top: 4px;
  padding-right: 0;
  margin-left: -2.75em;
  background-size: contain;
  background-repeat: no-repeat; }

footer .column-4 li.ferge:before {
  content: "";
  width: 32px;
  height: 18px;
  background-image: url("/bundles/tfkfarte/images/icon/kontakt-ferge.svg");
  position: absolute;
  margin-top: 2px;
  padding-right: 0;
  margin-left: -2.75em;
  background-size: contain;
  background-repeat: no-repeat; }

@media screen and (min-width: 600px) {
  footer .column-4 {
    width: 23.7288135593%;
    float: left;
    margin-right: 1.6949152542%; }
    footer .column-4:last-child {
      width: 23.7288135593%;
      float: right;
      margin-right: 0;
      padding-left: .5em;
      box-sizing: border-box; } }

@media screen and (max-width: 600px) {
  footer .column-4 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
    footer .column-4 .buss,
    footer .column-4 .ferge {
      margin-left: 1em; } }

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: .5em; }

body, html, input {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #333;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Telefon", sans-serif; }

.object-left {
  margin: 0; }

.fat {
  font-weight: 900; }

.grid__item.media.item {
  padding: 0;
  padding-top: .75em; }

.pictos .grid__item.media.item {
  padding: 0; }

@media (max-width: 63.9375em) {
  .menu-trigger,
  .menu-search-trigger,
  .menu__back-level:hover,
  .menu__back-level:focus,
  .menu__back-level:active,
  .menu__item__dropdown,
  .menu__item-content:hover .menu__item-link {
    background-color: #6AC4AE; }
  .menu-trigger:hover,
  .menu-trigger:focus,
  .menu-trigger:active,
  .menu-search-trigger:hover,
  .menu-search-trigger:focus,
  .menu-search-trigger:active {
    background-color: #99E0CF; }
  .menu__item__dropdown {
    box-shadow: inset 1px 0 rgba(255, 255, 255, 0.1); }
  .menu__item-link {
    box-shadow: inset 0 -1px rgba(255, 255, 255, 0.1); }
  .menu,
  .menu a,
  .page-header {
    color: #fff; }
  .menu__submenu {
    width: 400px; }
  .menu__level {
    background: #333; }
  .ui-autocomplete {
    width: 100% !important;
    left: 0 !important; }
  .constrained-content {
    margin-bottom: 1em;
    margin-top: 1em; }
    .constrained-content .item .item {
      padding: 0; }
  .menu,
  .menu a,
  .page-header .menu a {
    color: #fff; }
  .menu__level--scroll {
    overflow-x: visible; } }

@media screen and (max-width: 37.5em) {
  .item--vertical .item__imglink {
    margin-top: 3px; }
  .page-header__logo img {
    height: 2.25em; }
  #ui-datepicker-div {
    margin-left: -1.19em;
    z-index: 200 !important; }
  .menu-trigger, .menu-search-trigger {
    width: 2.75em;
    height: 2.75em;
    top: .29em;
    margin-top: 0; }
  .news .item {
    padding-bottom: 0em;
    padding-top: .7em; }
  .item__content {
    padding: .75em .5em 0em 1em; }
  .item__content.news {
    border-bottom: 1px solid; }
    .item__content.news:last-child {
      border: none; }
  .campaign-content {
    font-size: 1.75em;
    padding: 1em;
    text-align: center;
    padding-top: 1em; }
    .campaign-content .item {
      padding: 0;
      padding-top: 0; }
      .campaign-content .item .item__content {
        padding-left: 0; }
        .campaign-content .item .item__content .item__intro {
          padding-bottom: 0;
          margin: 0;
          line-height: 1.125em; }
          .campaign-content .item .item__content .item__intro .class-image {
            margin-top: 0em;
            margin-bottom: 1em; }
      .campaign-content .item .full-head img {
        margin: 0 auto;
        width: 146px;
        display: block; }
  .item--vertical .item__imglink {
    margin-top: .875em; }
  .item__content, .news.item__content {
    padding: 0; }
  h1.news.js-tabs-tab {
    margin-bottom: -.950em; } }

@media screen and (max-width: 368px) {
  #farte-reiseplanlegger button#submit {
    margin-top: 0.5em !important; } }
/*# sourceMappingURL=custom.css.map */